@use "../../../App.scss" as app;

.trigger {

    cursor: pointer;

    &.tooltip {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: app.$vh-20px;
        height: app.$vh-20px;
    
        font-size: app.$vh-13px;
        font-weight: 600;
        color: var(--color-text-muted);
    
        cursor: pointer;
    
        border: 0.0462vh solid var(--color-border-strong);
        border-radius: 50%;
    
        background: app.alpha(var(--color-text), 0.1);
    
        &:hover {
            color: var(--color-text);
            
            background: app.alpha(var(--color-text), 0.3);
        }
    }
}

.content {
    position: absolute;
    z-index: 1000;

    padding: app.$vh-12px 0.7812vw;

    opacity: 0;
    visibility: hidden; 
    pointer-events: none;

    border-radius: app.$vh-12px;
    border: app.$vh-1px solid var(--color-border-strong);
    background: app.$orange-500;

    transition: opacity 0.15s ease;

    &.mounted {
        opacity: 1;
        visibility: visible;
    }
}



